doctype html
html
  head
    script(src='https://aframe.io/releases/1.0.0/aframe.min.js')
    // we import arjs version without NFT but with marker + location based support
    script(src='https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar.js')
  body(style='margin : 0px; overflow: hidden;')
    a-scene(embedded='', arjs='')
      a-marker(preset='hiro')
        a-entity(position='0 -1 0', scale='0.05 0.05 0.05', gltf-model='https://arjs-cors-proxy.herokuapp.com/https://rawcdn.githack.com/zb3qk/ArJS_Demo/dd5eb587071fe57f7373b601f8554394646b313b/SteelBeamVR.glb')
      a-entity(camera='')