doctype html
html
  head
    script(src='https://aframe.io/releases/1.0.0/aframe.min.js')
    // we import arjs version without NFT but with marker + location based support
    script(src='https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar.js')
  body(style='margin : 0px; overflow: hidden;')
    a-scene(embedded='', arjs='')
      a-marker(preset='hiro')
        a-entity(position='0 -1 0', scale='0.05 0.05 0.05', gltf-model='https://rawcdn.githack.com/zb3qk/ArJS_Demo/41733caf5a0acf232a97eab9048df93092eda84d/AnyConv.com__SteelBeamVR.gltf')
      a-entity(camera='')